# ide
.vscode/
.idea/


# dependencies
node_modules/

# environment variables
.env
scripts/armies_database/database.ini

# tests
coverage/

# build
build/
dist/
*yarn-error.log

# db init
scripts/armies_database/The-9th-Age/
scripts/armies_database/src/The-9th-Age/
*pycache*
